html,
body {
	height: 100vh;
	max-width: 100vw;
	font-family: 'Comic Sans MS', cursive, sans-serif !important;
}

body {
	margin: 0;
}

#main {
	margin-top: 5vh;
	min-height: 100%;
	padding-bottom: 5vh;
}

#footer {
	position: relative;
	margin-top: -5vh;
	height: 5vh;
	width: 100vw;
	background-color: grey;
}

#footer b {
	line-height: 5vh;
	color: white;
}

.modal-body {
	text-align: left;
}
